---
---
@import normalize
@import variable

// base
body
  color: $lc
  font-size: $fs
  font-family: $sansSerif

h1, h2, h3
  color: $c
  font-family: $serif 
  font-size: $tfs

h3
  font-size: $sfs
  line-height: 1.5rem
  margin-top: 2rem

h4
  font-weight: 700
  margin-top: 2rem
  &::before
    content: "// "

p, ul, ol, figure
  line-height: $fs * 2
  margin-top: 1.5rem

li
  margin-left: 1.5rem
  margin-bottom: 0.2rem

ol
  li
    padding: 0.3rem

a
  transition: all 0.1s ease-in-out
  &:hover
    color: $c

img
  width: 100%

figcaption
  font-size: $dfs
  line-height: $dfs * 1.75
  margin-top: .5rem

// components
#siteid
  align-items: center
  display: flex
  .logo
    height: 24px
    margin-right: 0.5rem
    width: 24px
  h1, h2
    display: inline-block
  h2
    font-size: $cfs

nav
  font-family: $serif
  margin-top: 1rem
  span
    font-size: $cfs
    margin-right: 0.6rem

date
  display: block
  font-family: $sansSerif
  font-size: $dfs
  margin-top: 0.5rem

p > code, li > code
  padding: 0 2px
  border: 1px solid rgba($c, 0.2)
  background: rgba($c, 0.1)
  border-radius: 2px

.highlight
  margin-top: 1.5rem
  overflow-x: auto

.gl
  color: #75715e

pre
  font-size: $cfs
  line-height: $cfs * 1.65
  padding: 0.8rem 1rem 0.9rem 1rem

.code > pre
  padding-left: 0.25rem

#copyright, .contact
  margin-right: 0.25rem

#contact-btns
  display: inline

#disqus
  margin-top: 4rem

#disqus_thread
  margin-top: 1rem

.video-container
  width: 100%
  & iframe
    width: 100%
    height: 100%

// layout
.container
  width: 50vw
  max-width: 1000px
  margin: 0 auto

header, main, footer
  width: 100vw

header
  padding: 1.5rem 0 1rem 0
  border-bottom: $border

main
  .container
    padding: 2rem 0
  a
    border-bottom: 1px dotted rgba($c, 0.2)
    &:hover
      border-bottom: 1px solid rgba($c, 0.5)

footer
  font-size: $cfs 
  padding: 0.75rem 0
  border-top: $border

// syntax highlight
@import syntax-hl

// rwd
@media screen and (max-width: 768px)
  .container
    width: 80vw
  pre
    width: 50%

@media screen and (max-width: 375px)
  #contact-btns
    display: block
    margin-top: 0.25rem
  #siteid
    h2
      margin-top: 0.25rem

@media screen and (min-width: 1680px)
  .container
    width: 45vw
