---
---
@import normalize
@import variable

// base
body
  color: $lc
  font-size: $fs
  font-family: $sansSerif

h1, h2, h3
  color: $c
  font-family: $serif 

h1
  font-size: $tfs

h2
  font-size: $rfs
  line-height: 2rem
  margin-bottom: 1rem

h3
  font-size: $sfs
  line-height: 1.5rem
  margin-top: 2rem

p, ol, figure
  line-height: $fs * 2
  margin-top: 1.5rem

ul
  line-height: $fs * 2
  margin-top: 1.5rem
  &#contact-info
    margin-top: 0.25rem

li
  margin-left: 1.5rem
  margin-bottom: 0.2rem

ol
  li
    padding: 0.3rem

a
  transition: all 0.1s ease-in-out
  &:hover
    color: $c

img
  width: 100%

figcaption
  font-size: $dfs
  line-height: $dfs * 1.75
  margin-top: .5rem

// components
#siteid
  align-items: center
  display: flex
  .logo
    height: 24px
    margin-right: 0.5rem
    width: 24px
  h1, h2
    display: inline-block
  h2
    font-size: $cfs

nav
  a
    font-size: $cfs
    margin-right: 0.6rem
    &:last-of-type
      margin-right: 0

date
  display: block
  font-family: $sansSerif
  font-size: $dfs
  margin-top: 0.5rem

p > code, li > code
  padding: 0 2px
  border: 1px solid rgba($c, 0.2)
  background: rgba($c, 0.1)
  border-radius: 2px

div.highlight
  margin-top: 1.5rem
  overflow-x: auto

.gl
  color: #75715e

figure > pre
  font-size: $cfs
  line-height: $cfs * 1.65
  overflow: scroll
  padding: 0.3rem 0.5rem

#copyright, .contact
  margin-right: 0.25rem

#contact-btns
  display: inline

// layout
.container
  width: 50vw
  max-width: 1000px
  margin: 0 auto

header, main, footer
  width: 100vw

header
  padding: 1.5rem 0 1rem 0
  border-bottom: $border
  .container
    align-items: center
    display: flex
    justify-content: space-between

main
  .container
    padding: 2rem 0
  a
    border-bottom: 1px dotted rgba($c, 0.2)
    &:hover
      border-bottom: 1px solid rgba($c, 0.5)

footer
  font-size: $cfs 
  padding: 0.75rem 0
  border-top: $border

// syntax highlight
@import "syntax.css"

.highlight
  border: 1px solid rgba($c, 0.2)
  border-radius: 3px

// rwd
@media screen and (max-width: 768px)
  .container
    width: 80vw
  header > .container
    align-items: flex-start
    flex-direction: column
    nav
      margin-top: 1rem

@media screen and (max-width: 375px)
  #contact-btns
    display: block
    margin-top: 0.25rem
  #siteid
    h2
      margin-top: 0.25rem

@media screen and (min-width: 1680px)
  .container
    width: 45vw
