---
layout: default
---
<section id="Welcome" style="margin-top: 0">
  <h3>Welcome!</h3>
  <p>
  Hello, I'm Wendy Yuchen Sun (a.k.a. 孫語辰).<br />
    I'm a person who likes to 
    <a href="{{ site.url }}/js/">learn JavaScript</a>, 
    <a href="{{ site.url }}/cooking/">cook at home</a> and 
    <a href="{{ site.url }}/philosophy/">read books</a>.
    <br />
    Thanks for visit. To know more about me, please go to the <a href="{{ site.url }}/about/">"About" section</a>.<br />
  </p>
</section>

<!-- 
<section>
  <h3>Latest Posts</h3>
  <ul id="allPostList">
  {% for post in site.posts limit:5 %}
    {% include allPostLi.html %}
  {% endfor %}
  </ul>
  <p id="read-more"><a href="{{ site.url }}/all_posts/">All posts...</a></p>
</section> 
-->

<section id="milestones" style="margin-bottom: -2em">
  <h3>Some Milestones of This Website</h3>
  {% include milestones.html %}
</section>
