<div id="copyright">&copy; Wendy Yuchen Sun. All rights reserved.</div>
<div id="contacts">
  <div id="email" class="contact">
    <a href="mailto:wendyyuchensun@gmail.com" class="no-deco">
      <i class="fa fa-envelope" aria-hidden="true"></i>E-mail
    </a>
  </div>
  <div id="github" class="contact">
    <a href="https://github.com/wendyyuchensun" target="_blank" class="no-deco">
      <i class="fa fa-github" aria-hidden="true"></i>GitHub
    </a>
  </div>
  <div id="linkin" class="contact">
    <a href="https://goo.gl/ztuq61" target="_blank" class="no-deco">
      <i class="fa fa-linkedin" aria-hidden="true"></i>LinkIn
    </a>
  </div>
  <div id="hire-me" class="contact">
    <a href="" class="no-deco">
      <i class="fa fa-heart" aria-hidden="true"></i>Hire me
    </a>
  </div>
</div>
