<form action="https://cse.google.com/cse" id="gcse">
  <input type="hidden" name="cx" value="003628661412100614063:agx6lexufso" />
  <input type="hidden" name="ie" value="" />
  <input type="text" id="search-box" name="q" placeholder="Search here..." />
  <input type="submit" name="sa" value="Go" />
</form>

<script>
  // change border color when search-box:focus
  var sbHasFocus = document.getElementById("search-box").classList.value.indexOf("focus");
  console.log(document.activeElement) 
</script>
