<meta charset="utf-8">

{% if page.url == '/' %}
<title>{{ site.title }} - {{ site.description }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
{% else %}
<title>{{ page.title }} - {{ site.title }}</title>
{% if page.descripion %}
<meta name="description" content="{{ page.description }}">
{% endif %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% endif %}

<meta name="author" content="{{ site.author }}">
<meta name="viewport" content="width=device-width" />
<link href="{{ site.url }}/css/style.css" }} rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/favicon-16x16.png">
