<a href="{{ site.url }}/about/" class="no-deco">
  <div id="about" class="navitem">About</div>
</a>
<a href="{{ site.url }}/web/" class="no-deco">
  <div id="web" class="navitem">Web</div>
</a>
<a href="{{ site.url }}/blog/" class="no-deco">
  <div id="blog" class="navitem">Blog</div>
</a>
<a href="mailto:wendyyuchensun@gmail.co," class="no-deco">
  <div id="nav-email" class="navitem bp-nav">Mail</div>
</a>
<a href="https://github.com/wendyyuchensun" target="_blank" class="no-deco">
  <div id="nav-github" class="navitem bp-nav">GitHub</div>
</a>
<a href="https://goo.gl/ztuq61" target="_blank" class="no-deco">
  <div id="nav-linkedin" class="navitem bp-nav">LinkedIn</div>
</a>
