<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="bg"></div>
    <div id="bgcover"></div>
    <header>
      <div class="container">
        <a href="{{ site.url }}" class="no-deco">
          <div id="siteid">
            {% include siteid.html %}
          </div>
        </a>
        <nav>
          {% include nav.html %}
        </nav>
      </div>
    </header>
    <div id="terminal">
      <div class="container">
          {% include terminal.html %}
      </div> 
    </div>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
    <footer>
      <div class="container">
        {% include footer.html %}
      </div>
    </footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ site.url }}/scripts/script.js"></script>
</html>
