<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include ga.html %}
  </head>
  <body>
    <header>
      <div class="container">
        {% include header.html %}
      </div>
    </header>
    <main>
      <div class="container">
        <div id="warning">
          Warning! This profile site has been deprecated since 2017.7.6.
          You can go to my current <a href="https://linkedin.com/in/wendyyuchensun">CV</a> instead.
          The repo for this deprecated site is still on <a href="https://github.com/wendyyuchensun/wendyyuchensun.github.io">GitHub</a> (though nothing new added since 2017.6).
        </div>
        <h2>{{ page.title }}</h2>
        {{ content }}
      </div>
    </main>
    <footer>
      <div class="container">
        {% include footer.html %}
      </div>
    </footer>
  </body>
  <script src="{{ site.url }}/script.js"></script>
</html>
