<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
      <div class="container">
        {% include header.html %}
      </div>
    </header>
    <main>
      <div class="container">
        {% if page.title %}
          <h2>{{ page.title }}</h2>
        {% endif %}
        {{ content }}
      </div>
    </main>
    <footer>
      <div class="container">
        {% include footer.html %}
      </div>
    </footer>
  </body>
  <script src="{{ site.url }}/script.js"></script>
</html>
